html{
    box-sizing: border-box;
    font-size: 16px;
}
.img-container {
  width: 75%;
  overflow: hidden;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Header  */

header{
    display: block;
    width:100%;
    text-align:center;
    padding: .2rem;
    position: fixed;
    border-bottom: solid .1rem black;
    background-color: white;
}


/*   Main  */

main{
    padding-top: 6rem ;
}
#main-container{
    width: 95%;
    margin: 0 auto ;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:.4rem;
    width:50%;
    margin: 0 auto;
}

/* Weather Card */
.weather-container{
 display:grid;
 grid-template-columns: minmax(0, 1fr);
 border: 2px black solid;
 box-shadow: 1px 1px 5px;
 text-align: center;
 overflow: hidden;
}
.hourly-weather ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}
.hourly-weather li {
  text-align: center;
  width:16%;
  margin: 0 auto;
}

.upcoming-weather li{
    display: grid;
   grid-template-columns: repeat(3,minmax(0,1fr));
place-items: center;
gap:10px;
margin-bottom: 2px;
}